.flex-appbar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $background;
  box-sizing: border-box;
  padding: 10px;
  border-radius: $rounded-border;
  margin-top: $extra-large;
  box-shadow: $card-shadow;
}
.header-input {
  flex-grow: 1;
  margin-right: $large;
}

.header-button-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  height: 36px;
  align-items: center;
}

.header-button {
  height: 100%;
}
.header-button:not(:last-child) {
  margin-right: $large;
}
