.app-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  align-items: space-between;
  background-color: $secondary;
  height: 50px;
 
}
