.user-card-item {
  width: 32%;

  @include medium-only {
    width: 48%;
  }
  @include small-only {
    width: 100%;
    margin-right: 0;
  }
  & {
    margin-bottom: $extra-large;
  }
}

.user-card-surface {
  height: 100%;
  border-radius: $rounded-border;
  box-shadow: $card-shadow;
}
